<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
	xmlns:gap   = "http://phonegap.com/ns/1.0"
	id          = "com.mixedpack.catalog"
	versionCode = "1" 
	version     = "0.1.0" >

    <!-- versionCode is optional and Android only -->

    <name>MixedPack Catalog</name>

    <description>
        Marketing Catalog Sample 
    </description>

    <author href="https://www.mixedpack.com" email="info@mixedpack.com">
        
    </author>

</widget>
